<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
 <title>{if isset($info['title'])}{$info.title}{elseif condition="$title" /}{$title}{else}{$sys.title}{/if}</title>
    <meta name="keywords" content="{if isset($info['keywords'])}{$info.keywords}{elseif condition="$keywords" /}{$keywords}{else}{$sys.key}{/if}" />
    <meta name="description" content="{if isset($info['description'])}{$info.description}{elseif condition="$description" /}{$description}{else}{$sys.des}{/if}" />
<link rel="shortcut icon" href="https://static4.佳焙天然cake.com/img/common/佳焙天然favicon.ico"/>
    <link type="text/css" rel="stylesheet" href="/static/home/css/about.css"/>

    <script src="/static/home/js/common.js" type="text/javascript"></script>
</head>
{include file="common/head"/}
<!-- header end --><!-- header end -->

<!-- cont start -->
<div class="cont">

    <img src="/static/home/images/banner.jpg" width="100%" class="block" alt="">

    <div class="container tc defineCard">
        <p class="f28 pt20 pb50">佳焙天然每实 ︱ 用爱与热情重新定义蛋糕</p>
        <div class="pr mb20 aboutTitle">
            <span class="pa line"></span>
            <h2 class="pr ib f20">全世界的好食材</h2>
        </div>
        <div class="f15 lh20">
            <p>纵使温室技术与培植技术再怎么发达，也无法取代食物所在地的原汁原味。</p>
            <p class="cred3">佳焙天然每实在全世界挑选大自然最本真、最质朴的美味食材。所有原材料均来自其最佳产地。</p>
            <p>这不仅是一种因地制宜，更是顺应，尊重自然的健康之道</p>
            <p>土耳其的榛子、新西兰的奇异果、泰国的金枕榴莲、牙买加的摩根船长朗姆酒、还有上品的白兰地……</p>
            <p>食材在佳焙天然每实的意义，不仅是味蕾的满足，更是一种心灵的邂逅。</p>
        </div>
    </div>


    <!-- Swiper -->
    <div class="bgGray material">
        <div class="container">
            <div class="swiper-wrapper">
                <div>
                    <img src="/static/home/images/slide2-1.jpg" width="376" height="262" class="block" alt="">
                    <p class="f18 tc">100%<br/>比利时进口<br/>纯天然巧克力</p>
                </div>
                <div>
                    <img src="/static/home/images/slide2-2.jpg" width="376" height="262" class="block" alt="">
                    <p class="f18 tc">100%<br/>德国 & 新西兰<br/>进口乳脂奶油</p>
                </div>
                <div>
                    <img src="/static/home/images/slide2-3.jpg" width="376" height="262" class="block" alt="">
                    <p class="f18 tc">当季<br/>世界最佳产地<br/>自然成熟蔬果&坚果</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container tc defineCard">
        <div class="pr mb20 aboutTitle">
            <span class="pa line"></span>
            <h2 class="pr ib f20">全世界的好食材</h2>
        </div>
        <div class="f15 lh20">
            <p>法国人说：“人有两个胃，一个用来吃饭，一个用来吃甜点。” </p>
            <p>100%新西兰、德国纯乳脂奶油，100%比利时纯天然巧克力，是蛋糕最纯正的选择，成就佳焙天然的独特甜蜜。 忘不了的甜，是一种无法抗拒的诱惑</p>
            <p>佳焙天然每实的每一种色彩，均萃取自天然食材。漫长的提取过程，像一场静默的修行：过滤杂色，汲取精华，食材在流金岁月里精雕细琢，愈发纯粹。</p>
        </div>
    </div>

    <img src="/static/home/images/banner2.jpg" width="100%" class="block" alt="">

    <div class="container tc defineCard">
        <div class="pr mb20 aboutTitle">
            <span class="pa line"></span>
            <h2 class="pr ib f20">24小时的美妙赏味</h2>
        </div>
        <div class="f15 lh20">
            <p>把每个时节新鲜的味道，放进蛋糕。天然，质朴与本味，没有防腐剂、人工色素和香精，遵循食物的自然生命周期。 </p>
            <p>所以，只提供24小时内的味觉享受，过夜不候。请珍惜这短暂的松软、酥脆、浓香或细腻。赏味期虽短，足以让食材的真味在味蕾上毫无保留地呈现。</p>
        </div>
    </div>

    <div class="bgGray">
        <div class="tc authentCont">
            <ul class="ib tl authentList clearfix">
                <li class="fl">
                    <span class="fl name">5000</span>
                    <p class="fl f14 lh18">5000平米GMP标准<br/>设计建造的中央工厂</p>
                </li>
                <li class="fl">
                    <span class="fl name">2</span>
                    <p class="fl f14 lh18">专业二级<br/>反渗透纯水系统</p>
                </li>
                <li class="fl">
                    <span class="fl name">8</span>
                    <p class="fl f14 lh18">8个不同温度冷库<br/>便于保存，避免交叉感染</p>
                </li>
            </ul>

            <div class="authentBd">
                <ul class="ib authentBdInfo clearfix">
                    <li class="fl">
                        <em class="auth-icon1"></em>
                        <p>GMP<br/>药监局优良制作<br/>标准认证</p>
                    </li>
                    <li class="fl">
                        <em class="auth-icon2"></em>
                        <p>SSOP<br/>卫生标准<br/>操作程序</p>
                    </li>
                    <li class="fl">
                        <em class="auth-icon3"></em>
                        <p>ISO9001<br/>质量管理体系<br/>认证</p>
                    </li>
                    <li class="fl">
                        <em class="auth-icon4"></em>
                        <p>ISO22000<br/>食品安全管理<br/>体系认证</p>
                    </li>
                    <li class="fl">
                        <em class="auth-icon5"></em>
                        <p>HACCP<br/>食品安全管理<br/>体系认证</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container tc defineCard">
        <div class="pr mb20 aboutTitle">
            <span class="pa line"></span>
            <h2 class="pr ib f20">严格的质量标准</h2>
        </div>
        <div class="f15 lh20">
            <p>美味永远建立在质量标准之上。GMP（药监局优良制造标准）设计、建造的中央工厂是最基本的前提。 </p>
            <p>8个温度各异的冷库、20道质检程序、独立化实验室、专业无菌室避免交叉污染，保障食材口感。自</p>
            <p>建冷链供应配送体系、全程冷链配送，保证蛋糕新鲜送达。</p>
        </div>
    </div>

    <img src="/static/home/images/banner3.jpg" width="100%" class="block" alt="">

    <div class="bgGray">
        <div class="tc authentCont">
            <div class="ib authentList2 clearfix">
                <em class="auth-icon1"></em>
                <em class="auth-icon2"></em>
                <em class="auth-icon3"></em>
                <em class="auth-icon4"></em>
            </div>

            <div class="authentBd">
                <ul class="ib tl authentList clearfix">
                    <li class="fl">
                        <span class="fl name">3</span>
                        <p class="fl f14 lh18">历经3年<br/>专心研发</p>
                    </li>
                    <li class="fl">
                        <span class="fl name">30</span>
                        <p class="fl f14 lh18">萃取30余种<br/>天然食材颜色</p>
                    </li>
                    <li class="fl">
                        <span class="fl name">8</span>
                        <p class="fl f14 lh18">成功研发8项<br/>外观专利&1项著作权</p>
                    </li>
                    <li class="fl">
                        <span class="fl name">5</span>
                        <p class="fl f14 lh18">5项在售<br/>专利产品</p>
                    </li>
                    <li class="fl">
                        <span class="fl name">50</span>
                        <p class="fl f14 lh18">50余种口味<br/>不断打磨升级</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container tc defineCard">
        <div class="pr mb20 aboutTitle">
            <span class="pa line"></span>
            <h2 class="pr ib f20">用专业来打造专业</h2>
        </div>
        <div class="f15 lh20">
            <p>在这个投机盛行的时代里，匠人的执拗变的越发可贵，对食材、对技术、对口味、对视觉的苛求，让我们悄然登上行业之巅，深受用户喜爱。</p>
            <p>“用坚持来坚持超越，用专业来打造专业”这是每实人永远不变的信条！</p>
        </div>
    </div>

    <img src="/static/home/images/banner4.jpg" width="100%" class="block" alt="">

    <div class="container tc defineCard">
        <div class="pr mb20 aboutTitle">
            <span class="pa line"></span>
            <h2 class="pr ib f20">最美的时光 用力爱一场</h2>
        </div>
        <div class="f15 lh20">
            <p>当我们谈论蛋糕的时候，我们在谈论美食、味道、还是心情？当爱情降临，当事业擢升，当亲朋团聚……</p>
            <p>当每一个美好的时刻发生，都值得欢呼，都应当庆祝。</p>
            <p>让食物拥有幸福的味道，让记忆刻上甜蜜的烙印。</p>
            <p>让生命中的每一个特殊时刻， 佳焙天然每实陪伴。</p>
        </div>
    </div>


</div>
<!-- cont end -->

<!-- cont end -->
<script type="text/javascript">
    var 佳焙天然_GLOBAL_VARS = {
        tel: '010-86482919'
    };
</script>
{include file="common/footer"/}