<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
 <title>{if isset($info['title'])}{$info.title}{elseif condition="$title" /}{$title}{else}{$sys.title}{/if}</title>
    <meta name="keywords" content="{if isset($info['keywords'])}{$info.keywords}{elseif condition="$keywords" /}{$keywords}{else}{$sys.key}{/if}" />
    <meta name="description" content="{if isset($info['description'])}{$info.description}{elseif condition="$description" /}{$description}{else}{$sys.des}{/if}" />
<link rel="shortcut icon" href="https://static4.佳焙天然cake.com/img/common/佳焙天然favicon.ico"/>
    <link type="text/css" rel="stylesheet" href="/static/home/css/about.css"/>

    <script src="/static/home/js/common.js" type="text/javascript"></script>
</head>
{include file="common/head"/}
<!-- header end --><!-- header end -->

<!-- cont start -->
<div class="cont">

    <img src="{$image}" width="100%" class="block" alt="">

    <div class="container defineCard">
        <div class="tc aboutHd">
            <p class="f28 pt20">和佳焙天然每实在一起 ︱ 见证每一非凡时刻</p>
            <div class="f15 mt40 lh20">
                <p>当我们谈论蛋糕的时候，我们在谈论美食、味道、还是心情？当爱情降临，当事业擢升，当亲朋团聚……</p>
                <p>当每一个美好的时刻发生，都值得欢呼，都应当庆祝。</p>
                <p>让食物拥有幸福的味道，让记忆刻上甜蜜的烙印。</p>
                <p>让生命中的每一个特殊时刻， 佳焙天然每实陪伴。</p>
            </div>
        </div>

        <div class="tc partnerCont" id="contactContent">
            <h2 class="tc f24 ls2">合作伙伴</h2>
            <div class="ib partnerList clearfix">
                <em class="fl partner-logo1"></em>
                <em class="fl partner-logo2"></em>
                <em class="fl partner-logo3"></em>
                <em class="fl partner-logo4"></em>
                <em class="fl partner-logo5"></em>
            </div>
            <div class="clearfix"></div>
            <div class="ib contactCont">
                <p class="f26">为企业定制福利</p>
                <p class="f26">请联系我们</p>
                <em class="icon-phone"></em>
                <p class="f28">{$sysa.tel}</p>
            </div>
        </div>

    </div>


</div>
<!-- cont end -->
<!-- cont end -->
{include file="common/footer"/}